@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');
// font-family: 'Poppins', sans-serif;

header {
    padding: 1em 1em;
    text-align: center;
    height: 65px;
    background-color: #000;
}

svg {
    height: 60px;
}

body {
    margin: 0;
    background: #fff;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.question-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
    font-weight: 100;
    margin: 48px auto;
    padding-bottom: 3%;
    width: 20rem;
    @media screen and (min-width: 480px) {
        width: 28rem;
    }
    @media screen and (min-width: 767px) {
        width: 40rem;
    }
    @media screen and (min-width: 959px) {
        width: 50rem;
    }
    box-shadow: rgba(0, 0, 0, 0.2) 0 16px 16px 4px;
}


.question-cover {
    filter: grayscale(1);
    background: url("");
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 15rem;
}

.question-body {
    margin: 0 auto;
    width: 85%;
}

.question-title h1 {
    font-weight: 500;
    text-align: center;
    color: #000;
}
.question-choices ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    justify-content: space-around;
    margin-bottom: 3%;
    @media screen and (max-width: 959px) {
        flex-direction: column;
        gap: 12px;
    }
}

button {
    border-radius: 2px;
    font-family: inherit;
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}

.fail {
    background: #E95831;
}

.success {
    background: #22A85A;
}

.disabled {
    background: #CBCBCB;
}